#upload
  %form{:id => 'upload_form', :action => '/resources', :enctype => 'multipart/form-data', :method => 'POST', :target => 'upload_frame'}
    %input{:type => 'file', :name => 'file'}
    %input{:type => 'submit'}

.clear
