!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title Droplet
    %link{:rel => 'stylesheet', :href => '/application.css', :media => 'screen,projection'}

    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" } 
    %meta{:name => "keywords", :content => "edmonton, pool, recreation" } 
    %meta{:name => "description", :content => "iCalendar format for Kinsmen pool schedules" }  
  %body

    - @resources.each do |resource|
      %div= resource.file.inspect

    .clear
